{% if link.title == 'Men' %}
<details class="mens-nav">

  <summary class="mens">Tops {% render 'icon-caret3' %}</summary>

  <details>
    <summary>Short Sleeves</summary>
    <p>lolwat</p>
    <details>
      <summary>Long Sleeves</summary>
      <p>lolwat</p>
    </details>
  </details>
  <details>
    <summary>Tanks & Sleeveless</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Hoodies, Sweatshirts & Jackets</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Stringers & Drop Arm Tanks</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Graphic T's</summary>
    <p>lolwat</p>
  </details>
</details>

<details class="mens-nav">
  <summary class="mens">Bottoms {% render 'icon-arrowFix2' %}
  </summary>
  <details>
    <summary>Shorts</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Joggers & Sweatpants</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Leggings (Base Layers) </summary>
    <p>lolwat</p>
  </details>

</details>

<details class="mens-nav">
  <summary class="mens">Collections {% render 'icon-arrowFix3' %}
  </summary>
  <details>
    <summary>Vital</summary>
    <p>lolwat</p>
    <details>
      <summary>Lift</summary>
      <p>lolwat</p>
    </details>
  </details>
  <details>
    <summary>League</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Element</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Core</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Graphix</summary>
    <p>lolwat</p>
  </details>

</details>
{% endif %}
{% if link.title == 'Women' %}
<details class="mens-nav">

  <summary class="mens">Tops {% render 'icon-caret3' %}</summary>

  <details>
    <summary>Sports bras</summary>
    <p>lolwat</p>
    <details>
      <summary>Crop tops</summary>
      <p>lolwat</p>
    </details>
  </details>
  <details>
    <summary>Shorts Sleeves</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Long sleeves</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Tanks & Sleeveless</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Hoodies, sweatshirts & jackets</summary>
    <p>lolwat</p>
  </details>
</details>

<details class="mens-nav">
  <summary class="mens">Bottoms {% render 'icon-arrowFix2' %}
  </summary>
  <details>
    <summary>Shorts</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Leggings</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Joggers & Sweatpants</summary>
    <p>lolwat</p>
  </details>

</details>

<details class="mens-nav">
  <summary class="mens">Collections {% render 'icon-arrowFix3' %}
  </summary>
  <details>
    <summary>Boost</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Tempo glo</summary>
    <p>lolwat</p>
    <details>
      <summary>React seamless</summary>
      <p>lolwat</p>
    </details>
  </details>
  <details>
    <summary>Essentials</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Shine</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Genesis</summary>
    <p>lolwat</p>
  </details>
  <details>
    <summary>Tempo</summary>
    <p>lolwat</p>
  </details>

</details>
{% endif %}