body.cart #show {
    z-index: 1;
}

.is-empty .cart__warnings {
    padding: 5rem 0 5rem;
}

.cart__warnings a.button {
    background-color: #171717;
    color: white;
}

#MainContent.cart.is-empty {
    display: block;
}

.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 3rem 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after, .cart__note:hover.cart__note:after,
.cart__note:before, .cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__footer .totals {
    margin: 0 0 2rem;
}
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

.cart__footer {
    display: flex;
    border: 0;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
}

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: 6px !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
#MainContent.cart {
    margin-top: 30px;
    margin-bottom: 100px;
}
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

#shopify-section-template--15721737978052__cart-items, .cart__footer-wrapper {
    display: inline-block;
    vertical-align: top;
}

.cart__footer-wrapper {
    background-color: #fff;
}

body.cart {
    background: #fafafa;
}

.cart__checkout-button.button {
    background-color: #171717;
    color: #fff;
    border-radius: 6px;
    height: 54px;
    font-size: 1.125em;
}



.cart h1.title {
    font-weight: 600;
    font-size: 1.6em;
}

.cart__dynamic-checkout-buttons.additional-checkout-buttons {
    margin-top: 0;
}

#MainContent.cart {
    display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width: 1401px) {
#MainContent.cart {
    justify-content: space-between;
}
#shopify-section-template--15721737978052__featured-collection {
  width: 62.5%;
  max-width: 750px;
  margin-top: 10px;
}
#shopify-section-template--15721737978052__cart-items {
    width: 62.5%;
    max-width: 750px;
    height: fit-content;
}
.cart__footer-wrapper {
    width: 40.8%;
    max-width: 530px;
}
}

@media screen and (max-width: 749px) {
  #MainContent.cart .featured-collection slider-component {
    padding: 0 0 0 3rem;
}
  #main-cart-item-container {
    margin-top: 20px;
}
.we-accept-cc img {
    width: 80%;
}
}

@media screen and (max-width: 1400px) {
.cart__footer-wrapper {
    order: 3;
}
#shopify-section-template--15721737978052__featured-collection {
    order: 2;
}
#shopify-section-template--15721737978052__cart-items {
    order: 1;
}
#MainContent.cart {
    flex-direction: column;
    align-items: center;
}
.cart__footer-wrapper, #shopify-section-template--15721737978052__cart-items, #shopify-section-template--15721737978052__featured-collection {
    width: 100%;
    max-width: 618px;
}
}

#MainContent.cart .collection__title h2 {
    font-weight: 500;
    font-size: 1em;
}

#MainContent.cart .featured-collection slider-component {
    width: 100%;
}

#main-cart-footer {
    width: 100%;
    padding: 0 3rem;
}

#main-cart-footer span.money {
    font-weight: 600;
    font-size: 1.6rem;
}

#main-cart-footer .totals {
    justify-content: space-between;
    align-items: flex-end;
}

#main-cart-footer small.tax-note {
    color: #868686;
    font-size: 0.6875em;
    text-align: right;
}

.shipping-cart-policy {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 0 0.75rem;
}

.shipping-cart-policy h3 {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
    width: 30%;
}

h3.cart-footer-title {
    font-weight: 600;
    font-size: 1.6em;
}

.final-sale-items {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    color: #868686;
    font-size: 11px;
    padding-top: 12px;
}

svg#cart-exclamation {
    width: 16px;
}

.we-accept-cc span {
    font-size: 11px;
    color: #868686;
}

.we-accept-cc {
    margin: 28px 0;
    display: flex;
    justify-content: space-between;
}

.cart__footer-wrapper {
    height: fit-content;
}
#main-cart-item-container.is-empty {
max-width:1300px!important;

  
}


.rewards-banner-cart {
    height: 110px;
    width: 650px;

}
  .free-ship-banner-cart {
    height: 110px;
    width: 650px;
    border-right:solid 5px white;

}
  div#shopify-section-template--15721737978052__0f3489bb-3f50-4a72-8dee-8e043d048317 {
    margin-top: 141px;
}
  .empty-shared-banner {
    display: inline-flex;
}

@media only screen and (max-width: 500px) {
#main-cart-item-container.is-empty {
max-width:375px!important;
  width:100%;
  margin:auto;
}
}
@media only screen and (max-width: 500px) {
.empty-shared-banner {
    display: block;
    width: 375px!important;
}
}
